main{
    width: 100%;
    background-color: white;
    .coso{
        display: flex;
        justify-content: space-around;
    }
    .pokedex-grid{
        display: flex;
        flex-wrap: wrap;
        max-width: 1200px;
        margin: auto 80px ;
    }
}

