
header{ 
    padding: 10px 0;

    display: flex;    
    flex-flow: row;
    justify-content:space-around;
    align-items: center;

    background-color: rgb(51, 50, 50);
    color: white;
    font-weight: bold;
}

header div{}

header div img{    
    width: 128px;
}

header nav{}

.navlink_item{
    text-decoration: none;
    color: white;
    font-size: 22px;
    padding: 0 10px;
}

.navlink_item:hover{
    color: coral;
}