//Common
	$color-1: #140f07;
	$color-2: #1e1e2f;
	$color-3: #484a6e;
	$color-4: #767cb9;
	$color-5: #f9f6f9;
	$color-lightGrey: rgb(240, 240, 240);
	$color-grey: grey;
	$color-hover-1:rgb(246, 186, 164);

//Buttons
@mixin button-1(){
	border: none;
	outline: none;
	border-radius: 25px;
	padding: 10px 20px;
	font-family: inherit;	
	letter-spacing: 2px;
	font-weight: bold;
	cursor: pointer;		
	background-color: $color-3;
	color: #fff;
}
	
// Class-color Pokemon
    $color-fire: #ff7402;
	$color-grass: #9bcc50;
	$color-steel: #9eb7b8;
	$color-water: #4592c4;
	$color-psychic: #f366b9;
	$color-ground: #ab9842;
	$color-ice: #51c4e7;
	$color-flying: #3dc7ef;
	$color-ghost: #4d5b64;
	$color-normal: #a4acaf;
	$color-poison: #7e0058;
	$color-rock: #a38c21;
	$color-fighting: #d56723;
	$color-dark: #707070;
	$color-bug: #729f3f;
	$color-dragon: #f16e57;
	$color-electric: #bba909;
	$color-fairy: #fdb9e9;
	$color-shadow: #7b62a3;
	$color-unknow: #757575;
	$color-primary: #006d77;
	$color-primary-hover: #83c5be;


	//Color Pokemons-type

	.grass{
		background-color: $color-grass;}
	
	.fire{
		background-color: $color-fire;}
	
	.steel{
		background-color: $color-steel;}
	
	.water{
		background-color: $color-water;}
	
	.psychic{
		background-color: $color-psychic;}
	
	.ground{
		background-color: $color-ground;}
	
	.ice{
		background-color: $color-ice;}
	
	.flying{
		background-color: $color-flying;}
	
	.ghost{
		background-color: $color-ghost;}
	
	.normal{
		background-color: $color-normal;}
	
	.poison{
		background-color: $color-poison;}
	
	.rock{
		background-color: $color-rock ;}
	
	.fighting{
		background-color: $color-fighting;}
	
	.dark{
		background-color: $color-dark;}
	
	.bug{
		background-color: $color-bug;}
	
	.dragon{
		background-color: $color-dragon;}
	
	.electric{
		background-color: $color-electric;}
	
	.fairy{
		background-color: $color-fairy;}
	
	.shadow{
		background-color: $color-shadow;}
	
	.unknow{
		background-color: $color-unknow;}


